* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; 
    /* 10px, use percentage to keep things consistent */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}
/* https://type-scale.com/  */

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 1.953rem;
}

section {
    display: block;
}


/* Containers */

.box-container,
.text-shadow-container {
    padding: 100px;
    margin-bottom: 60px;
    /* background: gray; */
}

.box-container-grey{
    background-color: gray;
}

.text-shadow-headline{
    color: #3d3c3c;
    font-size: 4.2rem;
    font-weight: 700;
    text-shadow: 0px 3px 0 #ffffff, 4px 1px 0 #734c8e;
    letter-spacing: 2px;
}

.text-shadow-headline-outline {
    text-shadow: -1px 5px 1px #000000;
    color: mistyrose;
    font-size: 9rem;
}

/* Boxes with shadows */

.box {
    width: 200px;
    height: 200px;
    font-size: 32px;
    background-color: hotpink;
    box-shadow: 6px 6px 20px 0px #00000063;
    /* position on horizontal axis, then horizontal axis, blur, then color of the shadow */
}


.box-inset {
    box-shadow: inset 6px 6px 20px 0 black;
}

.box-multiple {
    box-shadow: -5px -6px 20px 7px #17161663, 4px 11px 20px 7px #10070763;
}

.box-solid {
    box-shadow: 9px 8px #004cff, 20px 17px black;
    border-radius: 5px;
}